@model BrainHi.WebApp.ViewModels.Providers.ProviderDisplayViewModel

    <!-- BREADCRUMB
    ================================================== -->
    <nav class="bg-gray-200">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-scroll">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-gray-700">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="List" asp-controller="Providers" class="text-gray-700">
                                Providers
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Provider.ProviderFullName
                        </li>
                    </ol>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </nav>

    <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md">

                    <!-- Link -->
                    <a asp-action="List" class="font-weight-bold font-size-sm text-decoration-none mb-3">
                        <i class="fe fe-arrow-left mr-3"></i> All providers
                    </a>

                    <!-- Heading -->
                    <h1 class="display-4 mb-2">
                        @Model.Provider.ProviderFullName
                    </h1>

                    <!-- Text -->
                    <p class="font-size-lg text-gray-700 mb-5 mb-md-0">
                        @Model.Provider.Specialty · City, PR
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12">

                    <!-- Divider -->
                    <hr class="my-6 my-md-8 border-gray-300">

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12 col-md-8">

                    <!-- Heading -->
                    <h3>
                        Who we are
                    </h3>

                    <!-- Text -->
                    <p class="text-gray-800 mb-6 mb-md-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi erat, pretium sit amet ultricies ultrices, vulputate vitae ligula. Pellentesque ultrices a est vel egestas. Proin ullamcorper velit quam, in ullamcorper leo lobortis pellentesque. Mauris at lacinia nibh, non hendrerit purus. Phasellus a eros vestibulum, tristique nibh sed, tincidunt leo. Mauris consectetur erat eget mi tempus, feugiat hendrerit augue lobortis. Morbi lacinia elit id facilisis accumsan. Etiam leo nibh, aliquam quis est ultrices, condimentum maximus elit. Aliquam erat volutpat. Suspendisse ut ante finibus, auctor dolor accumsan, venenatis purus. Maecenas sem ante, condimentum ut nunc cursus, euismod rutrum ex. Ut gravida porta massa, at vehicula nisl rhoncus tristique. Cras a metus tempus, auctor diam id, viverra tellus.
                    </p>

                    <p class="text-gray-800 mb-6 mb-md-8">
                        Cras dignissim dui a nulla auctor, in euismod neque vestibulum. Morbi sagittis ipsum tortor, quis pharetra lectus viverra sed. Donec elementum rutrum metus, sit amet vulputate est dignissim eu. Quisque est felis, lacinia sit amet nisl sed, molestie interdum tortor. Morbi bibendum in erat lacinia egestas. Vestibulum fringilla sapien nec sapien mollis, vitae placerat turpis ullamcorper. Sed id leo tincidunt, faucibus nisl eu, vehicula lectus. Etiam vel ex justo. Nulla facilisi. In tristique est sit amet augue feugiat, eu porttitor velit molestie.
                    </p>

                    <p class="text-gray-800 mb-6 mb-md-8">
                        Aenean consectetur varius lacus vitae elementum. Nunc mauris lacus, ultrices sed sagittis at, gravida eget orci. Integer interdum rutrum consequat. Aliquam tempus ligula et fringilla imperdiet. Nulla ut varius sapien. Phasellus auctor felis eget libero varius, a consectetur mauris mollis. Suspendisse fringilla, elit at elementum rhoncus, ipsum felis condimentum enim, ac gravida lorem justo a tortor. Nunc bibendum odio ut nunc posuere, et viverra dolor viverra. Donec ex erat, ullamcorper eu ullamcorper quis, vestibulum sit amet ligula. Ut at velit turpis. Etiam gravida est vitae mi fermentum, eu dictum metus accumsan. Nulla eu lectus volutpat eros sagittis consequat. Curabitur eget nulla et lacus aliquam egestas a et justo. Duis tincidunt ut velit non fermentum.
                    </p>

                </div>
                <div class="col-12 col-md-4">

                    <!-- Card -->
                    <div class="card shadow-light-lg mb-5">
                        <div class="card-body">

                            <!-- Heading -->
                            <h4>
                                Need help?
                            </h4>

                            <!-- Text -->
                            <p class="font-size-sm text-gray-800 mb-5">
                                Not sure exactly what you're looking for?
                            </p>

                            <!-- Heading -->
                            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                                Call anytime
                            </h6>

                            <!-- Text -->
                            <p class="font-size-sm mb-5">
                                <a href="tel:555-123-4567" class="text-reset">(555) 123-4567</a>
                            </p>

                            <!-- Heading -->
                            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                                Email us
                            </h6>

                            <!-- Text -->
                            <p class="font-size-sm mb-0">
                                <a href="mailto:support@example.co" class="text-reset">support@example.co</a>
                            </p>

                        </div>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    @if (Model.Provider.Appointments.Any())
    {
    <section class="py-5 container">
        <h2>Appointments</h2>
        <p class="text-muted">The office is already booked for the following times:</p>
        <table class="table card-border border-primary">
            <thead class="font-weight-bold">
                <tr>
                    <td>#</td>
                    <td class="d-none d-md-table-cell">From</td>
                    <td class="d-none d-md-table-cell">To</td>
                    <td>Patient's Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (BrainHi.Models.Appointment appointment in Model.Provider.Appointments)
                {
                    <tr>
                        <td>@appointment.AppointmentId</td>
                        <td class="d-none d-md-table-cell">@appointment.StartTime.ToString()</td>
                        <td class="d-none d-md-table-cell">@appointment.EndTime.ToString()</td>
                        <td>
                            @appointment.PatientFullName
                            <span class="d-block d-md-none text-muted">From: @appointment.StartTime.ToString() <br /> To: @appointment.EndTime.ToString()</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    }

    <!-- FORM
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Card -->
                    <div class="card card-border border-primary shadow-light-lg">
                        <div class="card-body">
                            <h2 class="card-title">Schedule an Appointment with us</h2>
                            <h5 class="card-subtitle text-muted mb-3">Appointments are for 1 hour</h5>

                            <!-- Form -->
                            <form class="row" method="post" asp-action="Book" asp-controller="Providers">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ProviderId" value="@Model.Provider.ProviderId" />
                                <div class="form-group col-md-4">
                                    <label asp-for="Month" class="control-label"></label>
                                    <select asp-for="Month" class="form-control">
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                    <span asp-validation-for="Month" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Day" class="control-label"></label>
                                    <select asp-for="Day" class="form-control" asp-items="Enumerable.Range(1, 31).Select(num => new SelectListItem { Value = num.ToString(), Text = num.ToString() })"></select>
                                    <span asp-validation-for="Day" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Year" class="control-label"></label>
                                    <select asp-for="Year" class="form-control" asp-items="Enumerable.Range(DateTime.Now.Year, 50).Select(num => new SelectListItem { Value = num.ToString(), Text = num.ToString() })"></select>
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Hour" class="control-label"></label>
                                    <select asp-for="Hour" class="form-control" asp-items="Enumerable.Range(6, 12).Select(num => new SelectListItem { Value = num.ToString(), Text = num.ToString() })"></select>
                                    <span asp-validation-for="Hour" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Minute" class="control-label"></label>
                                    <select asp-for="Minute" class="form-control" asp-items="Enumerable.Range(0, 4).Select(num => new SelectListItem { Value = (num * 15).ToString(), Text = (num * 15).ToString() })"></select>
                                    <span asp-validation-for="Minute" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label asp-for="PatientFullName" class="control-label"></label>
                                    <input asp-for="PatientFullName" class="form-control" />
                                    <span asp-validation-for="PatientFullName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Patient Date of Birth</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="PatientDoBMonth" class="control-label"></label>
                                    <select asp-for="PatientDoBMonth" class="form-control">
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                    <span asp-validation-for="PatientDoBMonth" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="PatientDoBDay" class="control-label"></label>
                                    <select asp-for="PatientDoBDay" class="form-control" asp-items="Enumerable.Range(1, 31).Select(num => new SelectListItem { Value = num.ToString(), Text = num.ToString() })"></select>
                                    <span asp-validation-for="PatientDoBDay" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="PatientDoBYear" class="control-label"></label>
                                    <select asp-for="PatientDoBYear" class="form-control" asp-items="Enumerable.Range(DateTime.Now.Year - 100, 100).OrderByDescending(num => num).Select(num => new SelectListItem { Value = num.ToString(), Text = num.ToString() })"></select>
                                    <span asp-validation-for="PatientDoBYear" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="PatientGender" class="control-label"></label>
                                    <select asp-for="PatientGender" class="form-control">
                                        <option value="@BrainHi.Models.PatientGender.Female">Female</option>
                                        <option value="@BrainHi.Models.PatientGender.Male">Male</option>
                                        <option value="@BrainHi.Models.PatientGender.NA">NA</option>
                                    </select>
                                    <span asp-validation-for="PatientGender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="PatientPhoneNumber" class="control-label"></label>
                                    <input asp-for="PatientPhoneNumber" class="form-control" />
                                    <span asp-validation-for="PatientPhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label asp-for="AppointmentReason" class="control-label"></label>
                                    <textarea rows="3" asp-for="AppointmentReason" class="form-control"></textarea>
                                    <span asp-validation-for="AppointmentReason" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>